{% if method == 'ajax' %}
  {{ include('exception.html') }}
{% endif %}
<form
  {% if method == 'post' %}method="post"{% endif %}
  {% if method == 'ajax' %}action="/api/record/{{ formName }}"{% endif %}
  id="{{ formName }}"
  class="forms-engine__form"
  novalidate>
    <div class="card mb-3">
        <div class="card-body">
            {{ formTitle|raw }}

            {% for page in pages %}
                {{ include('page.html') }}
            {% endfor %}
        </div>
        {% if pagination.active %}
            {{ include('pagination.html') }}
        {% endif %}
    </div>
    {% if method == 'post' %}
      <input type="hidden" name="form-keys" value="{{ keys|raw }}" />
    {% endif %}
</form>
{% if method == 'ajax' %}
  {{ include('message.html') }}
{% endif %}
