<form
  method="post"
  class="forms-engine__form"
  data-page="{{ pagination.index }}"
  data-pagesize="{{ pagination.pagesize }}">
    <div class="card mb-3">
        <div class="card-body">
            {{ formTitle|raw }}

            {% for page in pages %}
                {{ include('page.html') }}
            {% endfor %}
        </div>
        {% if pagination.active and not pagination.static %}
            {{ include('pagination.html') }}
        {% elseif pagination.active and pagination.static %}
            {{ include('pagination-static.html') }}
        {% endif %}
    </div>
</form>
